// color pallette
$red: rgb(126, 35, 35);
$dark-green:rgb(34, 102, 43);
$green: rgb(37, 128, 52);
$black: rgb(31, 31, 31);
$white: rgb(219, 215, 215);
$greenish:rgba(33, 131, 82, 0.699);


.about{
    width: auto;
    height: auto;
    position: absolute;
    background-image: url('/static/images/ggd1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}
.author{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    inset: 0; 
    z-index: 1;
}

.card{
    width: 90%;
    height: fit-content;
    position: absolute;
    justify-self: center;
    margin: 15vh auto auto auto;
    padding: 0.5rem 1rem;
    color: $white;
    font-size: regular;
    font-weight: 600;
}

.profile-pic > img{
    padding: 0.5rem 0.5rem;
    width:12rem;
    height: 12rem;
    margin: 1.5em auto;
    display: flex;
    background-color: $green;
    box-shadow:  0.2rem 0.2rem 0.2rem $black;
}

.information{
    background-color: $green;
    padding: 0.5rem 1rem;
    margin: 0.7rem auto;
    background-color: $green;
    box-shadow:  0.2rem 0.2rem 0.2rem $black;
    font-size: medium;
    transition: box-shadow 1.5s ease;
}
.contact a{
    background-color: $green;
    padding: 1rem 0.5rem;
    margin: 1.5rem auto;
    display: flex;
    background-color: $dark-green;
    box-shadow:  0.5rem 0.5rem 0.3rem $black;
    text-align: center;
    color: $white;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
    transition: box-shadow 800ms ease;
}

.contact a:hover{
    box-shadow:  0.35rem 0.35rem 0.2rem $black;
    transition: box-shadow 800ms ease;
    background-color: $red;
    transition: background-color 800ms ease;
}

// --------------------[Start - Animation]---------------------------

.profile-pic{
    animation:forwards rotateProfile 6s;
}

.contact{
    animation:forwards Button 6s;
}

.information{
    animation:forwards Context 6s;
}

.information p{
    animation:forwards Text 24s;
}

@keyframes rotateProfile {
    from{
        transform: scale(0) rotate(60deg);
        transition: transform 2.5s;
    }
    to{
        transform: scale(1) rotate(0deg);
        transition: transform 2.5s;
    }
}

@keyframes Button{
    from{
        transform: translateX(200%);
        transition: transform 2.5s;
    }
    to{
        transform: translateX(0%);
        transition: transform 2.5s;
    }
}

@keyframes Context{
    from{
        transform: translateX(-200%) rotate(-60deg);
        transition: transform 2.5s;
    }
    to{
        transform: translateX(0%) rotate(0deg);
        transition: transform 2.5s;
    }
}

@keyframes Text{
    from{
        opacity: 0;
        transition: transform 2.5s;
    }
    to{
        opacity: 1;
        transition: transform 2.5s;
    }
}

// --------------------[End - Animation]---------------------------

@media screen and (min-width:701px){
    .card{
        width: 25rem;
    }
}




