{% extends "base.html" %}

{% block content%}

<div class="music-cover">
    <div class="music-list">
        <div class="music-card">
            <img id="music-album" src="{{url_for('static',filename='music/1000_hours/Folder.jpg')}}" alt="" srcset="">
           
            {% for music in music_record['Thousand Hours']%}
                <p>{{music.title}}</p>
                <audio controls="controls" id ="song">
    
                    <source src="{{url_for('static',filename=music.path)}}" type="audio/mpeg">
    
                </audio>
            {% endfor %}
        </div>
    
        <div class="music-card">
            <img id="music-album" src="{{url_for('static',filename='music/Slappy/Folder.jpg')}}" alt="" srcset="">
            
            {% for music in music_record['Slappy']%}
                <p>{{music.title}}</p>
                <audio controls="controls" id ="song">
    
                    <source src="{{url_for('static',filename=music.path)}}" type="audio/mpeg">
    
                </audio>
            {% endfor %}
        </div>
        <div class="music-card">
            <img id="music-album" src="{{url_for('static',filename='music/revolutionaryRadio/Revolution Radio.jpg')}}" alt="" srcset="">
            
            {% for music in music_record['Revolutionary Radio']%}
                <p>{{music.title}}</p>
                <audio controls="controls" id ="song">
    
                    <source src="{{url_for('static',filename=music.path)}}" type="audio/mpeg">
    
                </audio>
            {% endfor %}
        </div>
        <div class="music-card">
            <img id="music-album" src="{{url_for('static',filename='music/godFavoriteBand/God Favorite Band.jpg')}}" alt="" srcset="">
            
            {% for music in music_record['God Favorite Band']%}
                <p>{{music.title}}</p>
                <audio controls="controls" id ="song">
    
                    <source src="{{url_for('static',filename=music.path)}}" type="audio/mpeg">
    
                </audio>
            {% endfor %}
        </div>
    </div>
</div>


<link rel="stylesheet" href="{{url_for('static',filename='css/music.css')}}" defer>
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" defer>
<div>


{% endblock %}